<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.jsL.MarondalGram.post.repository.PostRepository">
 	<insert id="insertProfile" parameterType="map">
 		INSERT INTO `profile`
 		(
 			`userId`
 			,`title`
 			,`contents`
 		)
 		VALUE
 		(
 			#{userId}
 			,#{title}
 			,#{contents}
 		)
 		
 	</insert>
 	
 	
 	
 	
 	
 	<select id="selectProfile" 
 	resultType="com.jsL.MarondalGram.post.domain.Post" parameterType="int">
 		SELECT
 			`title`
 			,`contents`
 		FROM
 			`profile`
 		WHERE
 			`userId` = #{userId}
 		
 	</select>
 	
 
 
 </mapper>