<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.jsL.MarondalGram.user.repository.UserRepository">
 	<insert id="insertUser" parameterType="map">
 		INSERT INTO `user`
 		(
	 		`loginId`
	 		,`password`
	 		,`phoneNumber`
	 	)
 		VALUE
 		(
 			#{loginId}
 			,#{password}
 			,#{phoneNumber}
 		)
 	</insert>
 	
 	
 	<select id="selectUser" parameterType="map"
 		resultType="com.jsL.MarondalGram.user.domain.User">
 		SELECT
 			`id`
 			,`loginId`
 			,`password`
 			,`phoneNumber`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`user`
 		WHERE
 				`loginId` = #{loginId}
 			AND
 				`password` = #{password}
 	</select>
 	
 	
 	<delete id="deleteUser">
 		DELETE FROM `user`
 			WHERE `id` = #{id}
 	</delete>
 	
 	
 	
 	
 </mapper>